body
{
   background-color: #000000;
   background-image: url('../images/Fundo betão DUN.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#intro
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 75px 0 75px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#intro > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#intro > .col-1
{
   flex: 0 0 auto;
}
#intro > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#intro > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#intro-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0%;
   width: 100%;
   height: 50px;
   line-height: 0;
   left: 0;
   transform: scaleX(-1.0);
}
#intro-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}
#intro-divider-top .divider-fill
{
   fill: rgba(0,0,0,1.00);
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#intro-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 50px;
   transform: scaleY(-1.01);
}
#intro-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#intro-divider-bottom .divider-fill
{
   fill: rgba(255,255,255,1.00);
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#wb_skills
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#skills
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#skills > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#skills > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#skills > .row > .col-1
{
   float: left;
}
#skills > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#skills > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#skills:before,
#skills:after,
#skills .row:before,
#skills .row:after
{
   display: table;
   content: " ";
}
#skills:after,
#skills .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#skills > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#skills-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0%;
   width: 100%;
   height: 50px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.01);
}
#skills-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}
#skills-divider-top .divider-fill
{
   fill: rgba(255,255,255,1.00);
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#skills-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 50px;
}
#skills-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#skills-divider-bottom .divider-fill
{
   fill: rgba(255,255,255,1.00);
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#services > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_homeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_homeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_homeText p, #wb_homeText ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#upStickyLayer
{
   background-color: #0078FF;
   background-image: none;
   border-radius: 50%;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow a
{
   text-decoration: none;
}
#wb_up-arrow a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#up-arrow
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_up-arrow:hover #up-arrow i
{
   color: #007BFF;
}
#wb_aboutMeMenu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_aboutMeMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
}
#wb_aboutMeMenu > ul
{
   display: flex;
   justify-content: space-between;
}
#wb_aboutMeMenu li
{
   margin: 0;
   padding: 8px 0px 8px 0px;
}
#wb_aboutMeMenu a
{
   display: block;
   color: #000000;
   border: 0px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: right;
   vertical-align: middle;
}
#wb_aboutMeMenu > ul > li > a
{
   height: 28px;
   line-height: 28px;
   padding: 0px 10px 0px 10px;
}
#wb_aboutMeMenu li:hover a, #wb_aboutMeMenu a:hover, #wb_aboutMeMenu .active
{
   color: #000000;
   border: 0px solid #BF1F66;
   background-color: transparent;
   background-image: none;
}
#wb_aboutMeMenu li.firstmain
{
   padding-left: 8px;
}
#wb_aboutMeMenu li.lastmain
{
   padding-right: 8px;
}
#wb_aboutMeMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_aboutMeMenu.affix
{
   top: 0 !important;
   position: fixed !important;
}
@media all and (max-width:320px) 
{
#wb_aboutMeMenu ul
{
   flex-direction: column;
   width: 100%;
}
#wb_aboutMeMenu li
{
   padding: 0 8px 0px 8px !important;
   width: 100% !important;
}
#wb_aboutMeMenu a
{
   box-sizing: border-box;
   float: none !important;
   width: 100% !important;
}
}
#wb_servicesLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#servicesLayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#servicesLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#servicesLayoutGrid1 > .row > .col-1, #servicesLayoutGrid1 > .row > .col-2, #servicesLayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#servicesLayoutGrid1 > .row > .col-1, #servicesLayoutGrid1 > .row > .col-2, #servicesLayoutGrid1 > .row > .col-3
{
   float: left;
}
#servicesLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid1 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid1:before,
#servicesLayoutGrid1:after,
#servicesLayoutGrid1 .row:before,
#servicesLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#servicesLayoutGrid1:after,
#servicesLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#servicesLayoutGrid1 > .row > .col-1, #servicesLayoutGrid1 > .row > .col-2, #servicesLayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_servicesLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#servicesLayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#servicesLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2, #servicesLayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2, #servicesLayoutGrid2 > .row > .col-3
{
   float: left;
}
#servicesLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid2 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#servicesLayoutGrid2:before,
#servicesLayoutGrid2:after,
#servicesLayoutGrid2 .row:before,
#servicesLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#servicesLayoutGrid2:after,
#servicesLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2, #servicesLayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_portfolio
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#portfolio
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#portfolio > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#portfolio > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#portfolio > .row > .col-1
{
   float: left;
}
#portfolio > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#portfolio > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#portfolio:before,
#portfolio:after,
#portfolio .row:before,
#portfolio .row:after
{
   display: table;
   content: " ";
}
#portfolio:after,
#portfolio .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#portfolio > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_servicesCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
}
#servicesCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard1-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 30px 0 20px 0 ;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F2C119;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#servicesCard1-card-item0:hover
{
   transform: rotate(0deg) scale(1.5,1.5) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard1-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#servicesCard1-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#servicesCard1-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 30px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_servicesCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 16px;
   text-align: center;
}
#servicesCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard3-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 30px 0 20px 0 ;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F2C119;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#servicesCard3-card-item0:hover
{
   transform: rotate(0deg) scale(1.5,1.5) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard3-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard3-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#servicesCard3-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#servicesCard3-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 30px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_servicesCard4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 16px;
   text-align: center;
}
#servicesCard4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard4-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 30px 0 20px 0 ;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F2C119;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#servicesCard4-card-item0:hover
{
   transform: rotate(0deg) scale(1.5,1.5) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard4-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard4-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#servicesCard4-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#servicesCard4-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 30px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_servicesCard5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 16px;
   text-align: center;
}
#servicesCard5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard5-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 30px 0 20px 0 ;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F2C119;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#servicesCard5-card-item0:hover
{
   transform: rotate(0deg) scale(1.5,1.5) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard5-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard5-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#servicesCard5-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#servicesCard5-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 30px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_servicesCard6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 16px;
   text-align: center;
}
#servicesCard6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#servicesCard6-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   margin: 30px 0 20px 0 ;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F2C119;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 53px;
}
#servicesCard6-card-item0:hover
{
   transform: rotate(0deg) scale(1.5,1.5) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard6-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 200ms linear 0ms;
}
#servicesCard6-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 53px;
   width: 53px;
}
#servicesCard6-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#servicesCard6-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 30px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_servicesHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 20px 0 20px 0;
   text-align: center;
}
#servicesHeading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 50px 30px 0 30px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#contact > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_contactForm
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contactForm
{
   box-sizing: border-box;
   padding: 0 30px 0 30px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contactForm > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: left;
}
#contactForm > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#contactForm > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 40px 0 40px 0;
}
#contactForm > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#contactForm > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 40px 0 40px 0;
}
#contactForm:before,
#contactForm:after,
#contactForm .row:before,
#contactForm .row:after
{
   display: table;
   content: " ";
}
#contactForm:after,
#contactForm .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_contactText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_contactText2
{
   color: #4E4E4E;
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_contactText2 p, #wb_contactText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_contactText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_contactText1
{
   color: #4E4E4E;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   line-height: 27.5px;
}
#wb_contactText1 p, #wb_contactText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_contactText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_contactText3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_contactText3 p, #wb_contactText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#contactName
{
   box-sizing: border-box;
   line-height: 24px;
   margin: 5px 0 10px 0 ;
   border: 1px solid #CED4DA;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactName:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactEmail
{
   box-sizing: border-box;
   line-height: 24px;
   margin: 5px 0 10px 0 ;
   border: 1px solid #CED4DA;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactEmail:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactSubject
{
   box-sizing: border-box;
   line-height: 24px;
   margin: 5px 0 10px 0 ;
   border: 1px solid #CED4DA;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactSubject:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactMessage
{
   box-sizing: border-box;
   border: 1px solid #CED4DA;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #6C757D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
   margin: 5px 0 10px 0 ;
   overflow: auto;
   resize: none;
}
#contactMessage:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactButton
{
   border: 1px solid #0078FF;
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#contactButton:focus
{
   outline: 0;
}
#cookiePopup
{
   margin: 30px 20px 20px 0 ;
}
#cookiePopup .modal-content
{
   background-color: #007BFF;
   background-image: none;
   border: 1px solid #007BFF;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#cookiePopup.fade
{
   opacity: 1;
   transition: all 400ms linear;
}
#cookiePopup .animate-show
{
   animation-duration: 400ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
}
#cookiePopup .animate-hide
{
   animation-duration: 400ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
   animation-direction: reverse;
}
#cookiePopup.modal
{
   --bs-modal-margin: 0.5rem;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow-x: hidden;
   overflow-y: auto;
   outline: 0;
}
 .modal-open
{
   overflow: hidden;
}
#cookiePopup .modal-dialog
{
   position: relative;
   width: 405px;
   margin-left: auto;
   margin-right: auto;
}
#cookiePopup .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#cookiePopup .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #007BFF;
   border-bottom: 1px solid #007BFF;
}
#cookiePopup .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #007BFF;
}
#cookiePopup .modal-body
{
   position: relative;
   width: 405px;
}
#cookiePopup .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#cookiePopup .modal-dialog
{
   margin-right: 0 !important;
}
#cookiePopup .modal-dialog-centered
{
   display: flex;
   align-items: flex-end;
   min-height: calc(100% - 20px);
   pointer-events: none;
}
#cookiePopup .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-align: left;
   margin: 0;
}
#cookiePopup .modal-body
{
   box-sizing: border-box;
   font-size: 0;
   padding: 16px 16px 16px 16px;
   text-align: center;
}
#wb_cookieHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: center;
}
#cookieHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#cookieButton
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#cookieButton:focus
{
   outline: 0;
}
#spacer-line
{
   border-color: #007BFF;
   border-style: solid;
   border-bottom-width: 20px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_cookieCheckBox
{
   margin: 6px 4px 8px 4px;
}
#wb_cookieCheckBox
{
   position: relative;
}
#wb_cookieCheckBox, #wb_cookieCheckBox *, #wb_cookieCheckBox *::before, #wb_cookieCheckBox *::after
{
   box-sizing: border-box;
}
#wb_cookieCheckBox input[type='checkbox']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
}
#wb_cookieCheckBox label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_cookieCheckBox label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#wb_cookieCheckBox label::after
{
   display: inline-block;
   position: absolute;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 13px;
}
#wb_cookieCheckBox input[type='checkbox']:checked + label::after
{
   content: " ";
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2052%2052%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M48%2014%20C49%2014%2c%2049%2015%2c%2049%2016%20C49%2017%2c%2049%2018%2c%2048%2018%20L27%2039%20L23%2043%20C23%2044%2c%2022%2044%2c%2021%2044%20C20%2044%2c%2019%2044%2c%2019%2043%20L15%2039%20L4%2029%20C3%2028%2c%203%2027%2c%203%2026%20C3%2025%2c%203%2025%2c%204%2024%20L8%2020%20C9%2019%2c%209%2019%2c%2010%2019%20C11%2019%2c%2012%2019%2c%2013%2020%20L21%2029%20L40%2010%20C40%209%2c%2041%209%2c%2042%209%20C43%209%2c%2044%209%2c%2044%2010%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
   background-size: 80% 80%;
}
#wb_cookieCheckBox input[type='checkbox']:checked + label::before
{
   background-color: #3370B7;
   background-image: none;
   border-color: #3370B7;
}
#wb_cookieCheckBox input[type='checkbox']:focus + label::before
{
   outline: thin dotted;
}
#newsLetterLabel
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#newsLetterLabel:focus
{
   outline: 0;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 143px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_skillsText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_skillsText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_skillsText p, #wb_skillsText ul
{
   margin: 0;
   padding: 0;
}
#wb_skillsText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 123px;
   margin-left: 0;
   margin-right: auto;
   vertical-align: top;
}
